.content-formatted {
  // Content area image title
  .edy-image-container-with-title:after {
    display: block;
    padding: 4px;
    font-size: 12px;
    line-height: 1.3em;
    content: attr(data-title);
  }
}
