.header {
  display: flex;
  justify-content: space-between;
}

.header-right .search .search-form {
  display: flex;
  justify-content: flex-end;
}

.container-wrap {
  max-width: 992px;
  margin: 0 auto;
  position: relative;
  padding: 24px;
}

.container {
  position: relative;
}

.menu-lang {
  display: flex;
  gap: 8px;
}

.lang-flag {
  display: flex;
  padding: 8px 0;
}
.lang-flag::after {
  background-position: 0 -75px;
  content: attr(data-lang-code);
  background-image: url("../images/ico-flags.png");
  width: 21px;
  height: 15px;
  display: block;
  margin-left: 8px;
}

[data-lang-code^=sq]:after {
  background-position: 0 0;
  content: "";
}

[data-lang-code^=hy]:after {
  background-position: -21px 0;
  content: "";
}

[data-lang-code^=bn]:after {
  background-position: -42px 0;
  content: "";
}

[data-lang-code^=bg]:after {
  background-position: -84px 0;
  content: "";
}

[data-lang-code^=zh]:after {
  background-position: -105px 0;
  content: "";
}

[data-lang-code^=hr]:after {
  background-position: -126px 0;
  content: "";
}

[data-lang-code^=da]:after {
  background-position: -147px 0;
  content: "";
}

[data-lang-code^=cs]:after {
  background-position: -168px 0;
  content: "";
}

[data-lang-code^=et]:after {
  background-position: -189px 0;
  content: "";
}

[data-lang-code^=fi]:after {
  background-position: 0 -15px;
  content: "";
}

[data-lang-code^=fr]:after {
  background-position: -21px -15px;
  content: "";
}

[data-lang-code^=ka]:after {
  background-position: -42px -15px;
  content: "";
}

[data-lang-code^=de]:after {
  background-position: -63px -15px;
  content: "";
}

[data-lang-code^=el]:after {
  background-position: -84px -15px;
  content: "";
}

[data-lang-code^=hu]:after {
  background-position: -105px -15px;
  content: "";
}

[data-lang-code^=is]:after {
  background-position: -126px -15px;
  content: "";
}

[data-lang-code^=hi]:after {
  background-position: -147px -15px;
  content: "";
}

[data-lang-code^=id]:after {
  background-position: -168px -15px;
  content: "";
}

[data-lang-code^=fa]:after {
  background-position: -189px -15px;
  content: "";
}

[data-lang-code^=he]:after {
  background-position: 0 -30px;
  content: "";
}

[data-lang-code^=it]:after {
  background-position: -21px -30px;
  content: "";
}

[data-lang-code^=ja]:after {
  background-position: -42px -30px;
  content: "";
}

[data-lang-code^=ko]:after {
  background-position: -63px -30px;
  content: "";
}

[data-lang-code^=lv]:after {
  background-position: -84px -30px;
  content: "";
}

[data-lang-code^=lt]:after {
  background-position: -105px -30px;
  content: "";
}

[data-lang-code^=ms]:after {
  background-position: -126px -30px;
  content: "";
}

[data-lang-code^=nl]:after {
  background-position: -147px -30px;
  content: "";
}

[data-lang-code^=no]:after {
  background-position: -168px -30px;
  content: "";
}

[data-lang-code^=ur]:after {
  background-position: -189px -30px;
  content: "";
}

[data-lang-code^=fil]:after {
  background-position: 0 -45px;
  content: "";
}

[data-lang-code^=pl]:after {
  background-position: -21px -45px;
  content: "";
}

[data-lang-code^=ro]:after {
  background-position: -42px -45px;
  content: "";
}

[data-lang-code^=ru]:after {
  background-position: -63px -45px;
  content: "";
}

[data-lang-code^=ar]:after {
  background-position: -84px -45px;
  content: "";
}

[data-lang-code^=sk]:after {
  background-position: -105px -45px;
  content: "";
}

[data-lang-code^=sl]:after {
  background-position: -126px -45px;
  content: "";
}

[data-lang-code^=es]:after {
  background-position: -147px -45px;
  content: "";
}

[data-lang-code^=sv]:after {
  background-position: -168px -45px;
  content: "";
}

[data-lang-code^=tr]:after {
  background-position: -189px -45px;
  content: "";
}

[data-lang-code^=uk]:after {
  background-position: 0 -60px;
  content: "";
}

[data-lang-code^=en]:after {
  background-position: -21px -60px;
  content: "";
}

[data-lang-code^=pt]:after {
  background-position: -84px -60px;
  content: "";
}

[data-lang-code^=sr]:after {
  background-position: -126px -60px;
  content: "";
}

[data-lang-code^=bn]:after {
  background-position: -147px -60px;
  content: "";
}

[data-lang-code^=th]:after {
  background-position: -189px -60px;
  content: "";
}

[data-lang-code^=en_US]:after {
  background-position: -21px -60px;
  content: "";
}

[data-lang-code^=en_GB]:after {
  background-position: -63px -60px;
  content: "";
}

[data-lang-code^=en_AU]:after {
  background-position: -168px -60px;
  content: "";
}

[data-lang-code^=en_CA]:after {
  background-position: -105px -60px;
  content: "";
}

[data-lang-code^=pt_BR]:after {
  background-position: -63px 0;
  content: "";
}

[data-lang-code^=fr_IC]:after {
  background-position: -42px -60px;
  content: "";
}

[data-lang-code^=fr_CA]:after {
  background-position: -105px -60px;
  content: "";
}

.menu-main a.untranslated {
  color: #C5292A;
}

.content-formatted .custom-btn {
  display: inline-block;
  padding: 16px;
  border: 1px solid #000000;
}
.content-formatted .edy-texteditor-container {
  margin: 8px;
}
.content-formatted .edy-texteditor-container-wrapper {
  margin-bottom: 1em;
}
.content-formatted .edy-texteditor-container-wrapper-left, .content-formatted .edy-texteditor-container-left {
  margin-right: 1em;
}
.content-formatted .edy-texteditor-container-wrapper-right, .content-formatted .edy-texteditor-container-right {
  margin-left: 1em;
}
.content-formatted .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 12px;
  line-height: 1.3em;
  content: attr(data-title);
}
.content-formatted form {
  max-width: 100%;
  margin-top: 24px;
  clear: both;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
}
.content-formatted .form_field {
  padding-top: 8px;
  padding-bottom: 8px;
}
.content-formatted .form_field:first-child {
  padding-top: 0;
}
.content-formatted .form_field:last-child {
  padding-bottom: 0;
}
.content-formatted .form_field_required .form_field_label:after {
  content: "*";
}
.content-formatted label {
  display: block;
}
.content-formatted .form_field_label,
.content-formatted .edy-fe-label {
  font-weight: 700;
  font-family: inherit;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  width: 280px;
  margin: 0;
  padding: 8px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  box-sizing: border-box;
}
.content-formatted .form_field_textarea {
  min-height: 96px;
}
.content-formatted .form_field_size_medium {
  width: 416px;
}
.content-formatted .form_field_size_large {
  width: 576px;
}
.content-formatted .form_submit {
  margin-top: 8px;
}
.content-formatted .form_error,
.content-formatted .form_field_error {
  color: #C5292A;
}
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  border: 1px solid #C5292A;
}
.content-formatted .form_notice {
  color: #2F5D4B;
}
